{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 */
#}
{{ attach_library('adaptive_base_theme/adaptive_base_theme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
